@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
    font-weight: 700;
}

body {
    background-image: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* background-position: bottom -400px center; */
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container h1 {
    text-align: center;
    margin-top: 210px;
    width: 500px;
}

#container .link {
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}

.text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80px;
    background-color: gray;
    color: white;
    margin: 5px;
}

a {
    text-decoration: none;
    font-size: 25px;
    padding: 3px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
}

a:hover {
    background-color: #fff;
    color: #000;
    text-shadow: 2px 10px 4px pink;
}

i {
    font-size: 25px;
    margin-right: 5px;
}

@media (max-width:425px) {
    #container h1 {
        width: 100%;
        margin-top: 130px;
    }
    #container .link {
        width: 100%;
        justify-content: center;
        margin-top: 0;
    }
    body {
        background-size: 1200px;
        background-position: top -70px right -450px;
    }
}